/*navbar*/
.navbar-brand {
  font-size: 50px;
}

.nav-link {
  text-transform: uppercase;
  font-size: 24px;
  margin-right: 60px;
}
.nav-link:hover {
  border-bottom: 3px solid black;
}

/*jumbotron*/
.jumbotron {
  background-image: url(img/PLTS\ 1.png);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -100px;
}
.display-4 {
  margin-top: 250px;
  text-size: 800px;
  color: rgb(236, 115, 2);
  shadow: rgb(236, 15, 15);
}
.lead {
  margin-top: 10px;
  text-size: 800px;
  color: rgb(236, 115, 2);
}


.class card {
size image : 100px;

}


.footer {
  text-color: black;
}
